{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
<strong><p style='color:Blue; background-color:yellow'>This website is ceated by shubham sahu.</p>
    <p style='color:green; background-color:yellow'>Hello i am shubham sahu and i am a python developer.</p>
        <p style='color:red; background-color:yellow'>This website is created by using Django framework.</p>
            <p style='color:purple; background-color:yellow'>Thank you for visit.</p></strong>

{% endblock body %}

